* { box-sizing: border-box; margin: 0;}

body {
  background-color: black;
}
#caja {
      width: 900px;
      height: 500px;
			border: 10px solid white;
      overflow: hidden;
}

.palo-left {
  background-color: skyblue;
  position:absolute;
  width: 1.5%;
  height: 15%;
  left: 15px;
}


.palo-right {
  background-color: red;
  position:absolute;
  float: left;
  width: 1.5%;
  height: 15%;
  right: 25px;
}

.pista-de-padel{
  background-image: url("images/pista3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
  width: 900px;
  height: 550px;
}

canvas {
  width: 100%;
  height: 100%;
}
